__pycache__/
scripts/error/
scripts/outputs/
scripts/logs/
logs/
output_images/
visualizations/
scripts/train.sh
results/
scripts/
og_results/
dataset_splits_ssm_branch/
EventEgoPoseEstimation/model/quantization_layer_init/
