__pycache__/
scripts/error/
scripts/outputs/
scripts/logs/
logs/
output_images/
visualizations/
scripts/train.sh
results/
scripts/
og_results/
dataset_splits_ssm_branch/
EventEgoPoseEstimation/model/quantization_layer_init/
lightning_logs/
EE3D-S-images-pose_ung_120_19/
EE3D-S-images/
pose_111_18/
dump_output/
dump_output_2/
Final_results/